.Loader {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  animation: rotation 1000ms ease-in-out infinite;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
